
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Hi Veronica</h1>
{% for news_item in post_items%}
    <div class="card">
        <img src="{{post_item.picture.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> <span style="color: black; font-weight: bold;">Name~</span>{{news_item.user}}</h5>
            <p class="card-text"> <span style="color: black; font-weight: bold;">Caption~</span>{{news_item.caption}}</p>
            <p class="card-text"> <span style="color: black; font-weight: bold;" >Date~</span> {{news_item.posted}}</p>
            <p class="card-text"> <span style="color: black; font-weight: bold;" >Author~</span> {{news_item.likes}}</p>
            <div class="content" id="content">
                

              </div>
              
            </div>
    </div>
{% empty %}
<div class="row">
    <h2 style="color: black; margin-top: 2rem;" class="text-center">There No Gallery Items</h2>
  </div>
{% endfor %}
{% endblock%}
