{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <body>
      <!-- nav barr -->
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <!-- <img src="{% static "images/instagram-logo.png" %}" width="112" height="28"> -->
            <img  style="height: 30px; " src={% static "images/instagram-logo.png" %}>
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
                <i class="material-icons" >home</i>
              Home
            </a>
      
            <a class="navbar-item">
                <i class="material-icons" >explore</i>
              Explore
            </a>
            <a class="navbar-item">
                <i class="material-icons" >notifications</i>
                Notifications
              </a>
              <a class="navbar-item">
                <i class="material-icons" >inbox</i>
                Inbox
              </a>
              <a class="navbar-item">
                  <i class="material-icons" >face</i>
                Profile
              </a>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Settings
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Change password
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <a class="navbar-item">
                    Report an issue
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Log out
                </a>
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>


      <section class="section">

        <div class="container">

            <article class="media">

            
<div class="medi-left">
    <figure class="image is-128x128">
        <img class="is-rounded" src="http://bulma.io/images/placeholders/128x128.png" alt="">
    </figure>
</div>

<div class="media-content">
    <h1>@John Doe</h1>
    <h2 class="subtitle">lara Code</h2>
    <button class="button is-success">Follow</button>
</div>

            <div class="columns is-mobile is-centered">

                <div class="column is-half">
                    <nav class="level is-mobile">
                        <div class="level-item has-text-centered">
                          <div>
                            <p class="heading">Tweets</p>
                            <p class="title">3,456</p>
                          </div>
                        </div>
                        <div class="level-item has-text-centered">
                          <div>
                            <p class="heading">Following</p>
                            <p class="title">123</p>
                          </div>
                        </div>
                        <div class="level-item has-text-centered">
                          <div>
                            <p class="heading">Followers</p>
                            <p class="title">456K</p>
                          </div>
                        </div>
                        <div class="level-item has-text-centered">
                          <div>
                            <p class="heading">Likes</p>
                            <p class="title">789</p>
                          </div>
                        </div>
                      </nav>
                    </article>
                </div>
            </div>
        </div>
      </section>
    </body>
    </html>